html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 0 5%;
}

a {
  word-wrap: break-word;
}

/*
  NAVIGATION
*/

nav {
  background-color: #1a024f;
  color: #ded9e1ce;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav-img{
  max-width: 120px;
}


nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
}

body {
  background-color: #251752;
  color: #c0bcc5;
  font-size: 1.0rem;
  font-family: 'Nunito', sans-serif;
}

/* PROJECT PAGE */

.diagram{
  display: block;  
  margin-left: auto;  
  margin-right: auto;
  max-width: 900px;
}

/* PROFILE PAGE */

.card {
  background-color: #f1ebf5ce;
  color: #1a024f;
  padding: 15px 25px;
  border-radius: 5px;
  margin: 10px 0;
}

.card-pic {
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px;
}

/* TOOLS & TECH */

.card-pic-2 {
  max-width: 100px;
  border-radius: 6px;
}

.card-pic-devops {
  max-height: 110px
  border-radius: 6px;
}

/* TIMEFRAME */

.table {
  background-color: #ded9e1ce;
  color:#1a024f;
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;
  border: solid 2px;
  border-color: #2b0c6ad8; 
}
.table-header{
  background-color: #2b0c6ad8;
  color: #f5e4ffb1;
  padding: 10%;
  height: 75px;
  border-collapse: collapse;
  border: solid 2px;
  border-color: #ded9e1ce;
}
.table-col-1{
  width: 20%;
  text-align: right;
  padding-right: 5%; 
  border-collapse: collapse;
  border: solid 2px;
  border-color: #2b0c6ad8;
}
.table-col-2{
  width: 120%;
  padding: 2%;
  border-collapse: collapse;
  border: solid 2px;
  border-color: #2b0c6ad8;
}


/* IT TECHNOLOGIES */

.polaroid {
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  max-width: 500px;
}

div.polaroid > img {
  width: 100%;
}

/* LINKS */

a {
  color: #c3c3c5;
  font-style: none;
  text-decoration: none;
}

span > a {
  text-decoration: underline;
}

/* Utility */

.underline {
  text-decoration: underline;
}

@media only screen and (min-width: 800px) {
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .card-details {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }
}